# Enviroments
venv/
.env

# Git and GitHub files
.github/
.git/
.gitignore

# VScode config
.vscode/

# Docs
docs/
README.md
LICENSE

# Docker
Dockerfile
docker-compose.yml

# Python
*.log
__pycache__/
*.pyc
*.pyo